header {
  padding: 1em 0 2em 0;
  background-color: #f8f8f8;
}
body{
  margin: 0;
}
.heading {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Lora", serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 790px) {
  .heading {
    flex-direction: column;
    align-items: center;
  }
}
h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #143774;
  margin-bottom: 0;
}

.sub-title,
a {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}
.sub-title {
  color: #1792d2;
  margin-top: 0;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.12rem;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}
nav li {
  margin-left: 2em;
}

@media (max-width: 790px) {
  nav ul {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  nav li {
    margin: 0.5em 0;
  }
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #707070;
  font-weight: 700;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
  border-bottom: 1px solid #707070;
  padding: 0.5em 0;
}

.current-page:hover {
  color: #707070;
}
